@charset "uft-8";
@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 섹션1 */
.main {
  width: 100%;
  height: fit-content;
}

.infor_main_wrap {
  width: auto;
  height: auto;
  position: relative;
}

.infor_main_text {
  width: auto;
  height: fit-content;
  text-align: center;
}

.infor_main_wrap h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  line-height: 66px;
  padding-top: 6%;
}

.infor_main_wrap p {
  text-align: center;
  font-size: 26px;
  padding-top: 2%;
}

.main_img1 > img:hover {
  filter: brightness(0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main_img2 > img:hover {
  filter: brightness(0.5);
  cursor: pointer;
  transition: all 0.3s ease;
}

.main_text > h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 370px;
  height: 36px;
  z-index: -1;
  background: #fce53d;
  top: 24%;
  left: 31%;
  transition: all 0.3s ease;
}

.section12_wrap {
  width: auto;
  height: fit-content;
}

.section_1 {
  margin-top: 6%;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.section_2 {
  display: flex;
  justify-content: center;
  column-gap: 250px;
}

.section_2 > .adult {
  width: 170px;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  background-color: #227aff;
  color: #fff;
  border-radius: 30px;
  align-content: center;
  border: 1px solid #227aff;
  margin-top: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section_2 > .adult:hover {
  background-color: #c7c7c7;
  color: #000;
  border: 1px solid #c7c7c7;
}

.section_2 > .minors {
  width: 170px;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  background-color: #227aff;
  color: #fff;
  border-radius: 30px;
  align-content: center;
  border: 1px solid #227aff;
  margin-top: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section_2 > .minors:hover {
  background-color: #c7c7c7;
  color: #000;
  border: 1px solid #c7c7c7;
}

/* 섹션2 */
.section_wrap {
  width: 1200px;
  height: fit-content;
  margin: 0 auto;
}

/* 공통 */
.common_area {
  width: 1200px;
  height: 70px;
  font-size: 26px;
  font-weight: 500;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding-left: 110px;
  padding-top: 20px;
  box-sizing: border-box;
}

.description1 > img {
  padding-left: 46%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.description1_text {
  text-align: center;
  font-size: 24px;
  line-height: 34px;
}
.description1_text > a {
  font-weight: 700;
}

.description2 > img {
  padding-left: 46%;
  padding-top: 80px;
  padding-bottom: 50px;
}
.description2_text {
  text-align: center;
  font-size: 24px;
  padding-bottom: 70px;
  line-height: 34px;
}

/* 어른 */
.adult_area {
  width: 1200px;
  height: 70px;
  font-size: 26px;
  font-weight: 500;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding-left: 110px;
  padding-top: 20px;
  box-sizing: border-box;
}

.adult1 {
  width: 400px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
}

.adult > img {
  padding-left: 46%;
  padding-top: 80px;
  padding-bottom: 30px;
}

.adult2 {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 180px;
  line-height: 34px;
}

.adult2_text > a {
  font-weight: 700;
}

.adult2_text > button {
  width: 250px;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  background-color: #227aff;
  color: #fff;
  border-radius: 30px;
  align-content: center;
  border: 1px solid #227aff;
  margin-top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.adult2_text > button:hover {
  background-color: #c7c7c7;
  color: #000;
  border: 1px solid #c7c7c7;
}

/* 미성년자 */
.minors_area {
  width: 1200px;
  height: 70px;
  font-size: 26px;
  font-weight: 500;
  background-color: #f0f0f0;
  padding-left: 110px;
  padding-top: 20px;
  box-sizing: border-box;
}

.minors1 {
  width: 400px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 80px;
}

.minors2_text {
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 180px;
  line-height: 34px;
}

.minors2_text > a {
  font-weight: 700;
}
.minors2 {
  padding-bottom: 50px;
}

.minors2_text > button {
  width: 250px;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  background-color: #227aff;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #227aff;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.3s ease;
}

.minors2_text > button:hover {
  background-color: #c7c7c7;
  color: #000;
  border: 1px solid #c7c7c7;
}
