@charset "uft-8";
@import "./reset.css";

@import "../sub/sub_map.html";
@import "../css/common.css";

/* 섹션1_지도 */

.moa_map {
  width: 100%;
  height: auto;
}

.map_warning {
  width: 350px;
  height: 46px;
  background-color: #fce53d;
  border-radius: 30px;
  font-size: 20px;
  text-align: center;
  align-content: center;
  position: relative;
  left: 50%;
  top: 50px;
  margin-left: -180px;
  z-index: 999;
  line-height: 46px;
}

.map_warning img {
  margin-right: 4%;
  margin-bottom: -1%;
}

.moa_map iframe {
  width: 1920px;
  height: 800px;
  position: relative;
  top: -41px;
  left: 5%;
}

/* 섹션2 */
.spirit {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

.spirit_left {
  width: 50%;
  height: auto;
}

.my_profile {
  width: 190px;
  height: 48px;
  background-color: #fce53d;
  border: 1px solid #f9f9f9;
  border-radius: 24px;
  text-align: center;
  font-size: 26px;
}

.spirit_right {
  width: 50%;
  height: fit-content;
}

.locayion {
  width: auto;
}
