@charset "uft-8";
@import "./reset.css";
@import "../sub/sub_review.html";
@import "./common.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 메인 */
/* 공지사항 / 이용자 리뷰 */
.user_teb_wrap {
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 38px;
}

.user_teb_wrap ul {
  width: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  margin: 0 auto;
}

.user_teb_wrap ul .user_teb_review {
  color: #181818;
  width: 190px;
  position: relative;
  font-weight: 500;
  transition: all 0.4s ease;
}

/* 애니메이션 */
.user_teb_review a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 54%;
  display: block;
  top: 36%;
  right: 0;
  z-index: -1;
  background: rgb(255 235 59);
  transition: all 0.4s ease;
}

.user_teb_wrap ul .user_teb_review:hover a::after {
  left: 0;
  right: auto;
  width: 190px;
}

.user_teb_notice a {
  color: #a7a7a7;
}

/* 리뷰 */
.user_review_wrap {
  width: auto;
  height: fit-content;
  padding-top: 60px;
  position: relative;
}

/* 리뷰1 */

.user_insta_1 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.user_insta_1 img {
  border-radius: 20px;
  cursor: pointer;
}

.user_insta_review_1 img {
  overflow: hidden;
}

.insta_txt1 h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s;
}

.user_insta_review_1 {
  position: relative;
  box-sizing: border-box;
}

.insta_1 .user_insta_review_1:hover {
  filter: brightness(30%);
  transition: 0.3s;
}

.insta_1 .review2:hover {
  filter: brightness(30%);
  transition: 0.3s;
}

.insta_1 .review3:hover {
  filter: brightness(30%);
  transition: 0.3s;
}

/* 리뷰2 */
.insta_2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  cursor: pointer;
}

.insta_2 img {
  border-radius: 20px;
  margin-top: 50px;
}

.insta_2 .review4:hover {
  filter: brightness(30%);
  transition: 0.3s;
}
.insta_2 .review5:hover {
  filter: brightness(30%);
  transition: 0.3s;
}
.insta_2 .review6:hover {
  filter: brightness(30%);
  transition: 0.3s;
}

/* 더보기 버튼 */
.detail_btn {
  width: 100%;
  height: auto;
  position: relative;
}

.detail_btn .btn_1 {
  width: 170px;
  height: 50px;
  font-size: 22px;
  font-weight: 400;
  background-color: #227aff;
  color: #fff;
  border-radius: 30px;
  align-content: center;
  border: 1px solid #227aff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  left: 50%;
  top: 40px;
  z-index: 1;
}

.detail_btn .btn_1:hover {
  background-color: #c7c7c7;
  color: #fff;
  border: 1px solid #c7c7c7;
}
