@charset "uft-8";
@import "./reset.css";

/* 메인 */
/* 공지사항 / 이용자 리뷰 */
.tebteb_wrap {
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 38px;
}

.tebteb_wrap ul {
  width: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  margin: 0 auto;
}

.tebteb_wrap ul .tebteb_notice {
  color: #181818;
  width: 150px;
  position: relative;
  font-weight: 500;
  transition: all 0.4s ease;
}

/* 애니메이션 */
.tebteb_notice a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 54%;
  display: block;
  top: 36%;
  right: 0;
  z-index: -1;
  background: rgb(255 235 59);
  transition: all 0.4s ease;
}

.tebteb_wrap ul .tebteb_notice:hover a::after {
  left: 0;
  right: auto;
  width: 150px;
}

.tebteb_review a {
  color: #a7a7a7;
}
/* 테이블표 */
table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

th,
td {
  padding: 40px;
  border-bottom: 1px solid #ececec;
}

.title:hover {
  color: #227aff;
  cursor: pointer;
}

/* 페이지네이션 */
.pagination {
  width: fit-content;
  margin: 58px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.pagination a {
  color: #181818;
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.pagination a:hover:not(.active) {
  background-color: #227aff;
  color: white;
  border-radius: 100%;
}
