@charset "uft-8";
@import "./reset.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 드래그 했을 때 */
::selection {
  background-color: #fce53d;
  color: #227aff;
}

/* 스크롤 모양*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-image: linear-gradient(-225deg, #fce53d 0%, #227aff 100%);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fce53d;
}

a {
  color: #1e1e1e;
}

/* 상단 메뉴 */
#wrap {
  width: 100%;
  height: fit-content;
}

header {
  width: 100%;
  height: 134px;
}

/* 로고 */
.header_wrap1 {
  width: 100%;
  height: 61px;
}

h1 {
  display: flex;
  justify-content: center;
}

/* 하단 메뉴 */
/* 1차메뉴 */
.header_wrap2 {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

nav {
  width: 100%;
  height: fit-content;
  height: 68px;
  display: flex;
  justify-content: center;
}

.menu_wrap2 {
  width: 50%;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
  position: relative;
  z-index: 1;
}
/* 애니메이션 */
.menu_wrap2 > li > a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 30%;
  top: 36%;
  right: 0;
  z-index: -1;
  background: #ffeb3b;
  transition: all 0.3s ease;
}
.menu_wrap2 > li:hover a::after {
  left: 0;
  right: auto;
  width: 100%;
}

nav > ul > li {
  line-height: 68px;
  position: relative;
}

nav > ul > li > a:hover {
  color: #181818;
}

/* 메인 이미지 */
.main_bg {
  width: auto;
  height: fit-content;
  background-image: url(../img/sub_registration_individual/registration_main.png);
}

/* 2차메뉴 */
.submenu {
  width: 200px;
  line-height: 40px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
  position: absolute;
  background-color: rgb(233, 233, 233);
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-left: -68px;
  border-radius: 50px;
}

nav > ul > li:hover .submenu {
  height: 40px;
}

.submenu a:hover {
  color: #181818;
  font-weight: 500;
}

/* 아이콘 */
.icon {
  width: 8%;
  height: 68px;
  position: absolute;
  right: 0;
  left: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon > a:hover {
  background-image: url(../img/ellipse.png);
  background-repeat: no-repeat;
}

/* 메인 */

.main_bg {
  width: 100%;
  height: 800px;
}

/* 메인 이미지 */

.main_img {
  width: auto;
  height: fit-content;
  overflow: hidden;
}

/* 개인등록 / 2인 이상 등록 */
.teb_wrap {
  width: auto;
  height: auto;
  text-align: center;
  padding-top: 100px;
  font-size: 38px;
}

.teb_wrap ul {
  width: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  margin: 0 auto;
}

.teb_wrap ul .teb_review {
  color: #181818;
  width: 220px;
  position: relative;
}

/* 애니메이션 */
.teb_review a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 54%;
  display: block;
  top: 36%;
  right: 0;
  z-index: -1;
  background: rgb(255 235 59);
  transition: all 0.4s ease;
}

.teb_wrap ul .teb_review:hover a::after {
  left: 0;
  right: auto;
  width: 220px;
}

.teb_notice a {
  color: #a7a7a7;
}

/* 개인등록 */

.registration_wrap {
  width: fit-content;
  height: auto;
}

.individual_title {
  font-size: 28px;
  margin-top: 120px;
  margin-bottom: 70px;
  text-align: center;
}

/* 14세 미만 */

.registration_1 {
  display: flex;
  margin-left: 660px;
  font-size: 18px;
  line-height: 20px;
  gap: 20px;
}

.registration_1 p {
  margin-right: 30px;
}

.warning {
  margin-left: 660px;
  font-size: 16px;
  color: #227aff;
  line-height: 50px;
  margin-top: 6px;
  margin-bottom: 30px;
}

.radio_box {
  display: inline-block;
  display: inline;
  zoom: 1;
  position: relative;
  padding-left: 25px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 기본 라디오 버튼 숨기기 */
.radio_box input[type="radio"] {
  display: none;
}

/* 선택되지 않은 라디오 버튼 스타일 꾸미기 */
.on {
  width: 20px;
  height: 20px;
  background: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/* 선택된 라디오 버튼 스타일 꾸미기 */
.radio_box input[type="radio"]:checked + .on {
  background: #ffeb3b;
}
.on:after {
  content: "";
  position: absolute;
  display: none;
}
.radio_box input[type="radio"]:checked + .on:after {
  display: block;
}
.on:after {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
}

/* 이름 */
.name_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  column-gap: 60px;
  margin-left: 660px;
  padding-bottom: 20px;
}

.name_wrap p {
  font-size: 18px;
  margin-top: 14px;
}

.name_tag {
  width: 500px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  border: 0px;
  background-color: #f2f2f2;
  color: #1e1e1e;
  margin-left: 12px;
}

/* 휴대폰 */
.phone_wrap {
  width: fit-content;
  height: fit-content;
  display: flex;
  column-gap: 43px;
  margin-left: 660px;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.phone_wrap p {
  font-size: 18px;
  margin-top: 14px;
}

.phone {
  width: 500px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  border: 0px;
  background-color: #f2f2f2;
  color: #1e1e1e;
  margin-left: 12px;
}

/* 생년월일 */
/* SECTION - BIRTH */

.info {
  width: fit-content;
  height: fit-content;
  display: flex;
  position: relative;
  left: 660px;
  margin-bottom: 20px;
}

.info p {
  font-size: 18px;
  margin-top: 14px;
}

.date_wrap {
  width: 140px;
  height: 48px;
  border: 0px;
  background-color: #f2f2f2;
  font-size: 16px;
  padding-left: 8px;
  border-radius: 4px;
  margin-right: 12px;
}

/* 스크롤바 */
.info#info__birth select::-webkit-scrollbar {
  width: 10px;
}
.info#info__birth select::-webkit-scrollbar-thumb {
  background-color: #b6b6b6;
  border-radius: 3px;
}
.info#info__birth select::-webkit-scrollbar-track {
  background-color: #ebe9e9;
  border-radius: 6px;
}

#birth-year,
#birth-month,
#birth-day {
  border-radius: 4px;
  padding-left: 10px;
}

.info_wrap {
  margin-left: 38px;
  display: flex;
  column-gap: 19px;
}

.box {
  width: 160px;
  height: 48px;
  border: 0px;
  background-color: #f2f2f2;
  font-size: 16px;
}

/* 지역 */
#place_wrap {
  width: fit-content;
  height: fit-content;
}

#place {
  width: 520px;
  height: 48px;
  border-radius: 4px;
  font-size: 16px;
  border: 0px;
  background-color: #f2f2f2;
  color: #1e1e1e;
  margin-left: 70px;
  padding-left: 10px;
  margin-bottom: 120px;
}
